<%- include("partials/header") -%>
    <!-- Success message start -->

    <h1 class="title-text">Thanks for subscribing!</h1>

    <p> A confirmation email has been sent to ash@loremcompany.com.
        Please open it and click the button inside to confirm your subscription.
    </p>

    <form action="" method="post"> <button class="btn btn-primary-custom" type="submit">Dismiss message</button></form>
   
  
    <!-- Success message end -->
<%- include("partials/footer") -%>